

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'yekan';
  src: url('./fonts/yekanBakh/YekanBakhFaNum-Light.eot');
  src: url('./fonts/yekanBakh/YekanBakhFaNum-Light.eot?#iefix') format('embedded-opentype'),
      url('./fonts/yekanBakh/YekanBakhFaNum-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'yekan';
  src: url('./fonts/yekanBakh/YekanBakhFaNum-Regular.eot');
  src: url('./fonts/yekanBakh/YekanBakhFaNum-Regular.eot?#iefix') format('embedded-opentype'),
      url('./fonts/yekanBakh/YekanBakhFaNum-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'yekan';
  src: url('./fonts/yekanBakh/YekanBakhFaNum-Medium.eot');
  src: url('./fonts/yekanBakh/YekanBakhFaNum-Medium.eot?#iefix') format('embedded-opentype'),
      url('./fonts/yekanBakh/YekanBakhFaNum-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'yekan';
  src: url('./fonts/yekanBakh/YekanBakhFaNum-Bold.eot');
  src: url('./fonts/yekanBakh/YekanBakhFaNum-Bold.eot?#iefix') format('embedded-opentype'),
      url('./fonts/yekanBakh/YekanBakhFaNum-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Yekan Bakh FaNum Fat';
  src: url('./fonts/yekanBakh/YekanBakhFaNum-Fat.eot');
  src: url('./fonts/yekanBakh/YekanBakhFaNum-Fat.eot?#iefix') format('embedded-opentype'),
      url('./fonts/yekanBakh/YekanBakhFaNum-Fat.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'yekan';
  src: url('./fonts/yekanBakh/YekanBakhFaNum-Heavy.eot');
  src: url('./fonts/yekanBakh/YekanBakhFaNum-Heavy.eot?#iefix') format('embedded-opentype'),
      url('./fonts/yekanBakh/YekanBakhFaNum-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Yekan Bakh FaNum Hairline';
  src: url('./fonts/yekanBakh/YekanBakhFaNum-Hairline.eot');
  src: url('./fonts/yekanBakh/YekanBakhFaNum-Hairline.eot?#iefix') format('embedded-opentype'),
      url('./fonts/yekanBakh/YekanBakhFaNum-Hairline.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'yekan';
  src: url('./fonts/yekanBakh/YekanBakhFaNum-Thin.eot');
  src: url('./fonts/yekanBakh/YekanBakhFaNum-Thin.eot?#iefix') format('embedded-opentype'),
      url('./fonts/yekanBakh/YekanBakhFaNum-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}



body {
  
  font-family: 'yekan'
  
}